@model IList<CentreAffaire.Models.ChargeAffaire>
@{
    ViewBag.Title = "ListCharge";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<table id="demoGrid" class="table  table table-hover dt-responsive nowrap" width="100%" cellspacing="0">

    <thead>
        <tr>
            <th class="th-sm">
                Matricule
            </th>
            <th class="th-sm">
                Intitulé
            </th>
            <th class="th-sm">
                Nombre de compte
            </th>
            <th class="th-sm">
                Action
            </th>
            

        </tr>
    </thead>
    @foreach (var obj in Model)
    {
    <tr>
        <td>@obj.matricule</td>
        <td>@obj.Intitule</td>
        <td> 59</td>
        <td>
            <a id="detail" onclick="update_url('consulter/@obj.id')" data-toggle="modal" data-target="#exampleModal">consulter</a>
            <br/>
            <a id="interim"  data-toggle="modal" data-target="#interimeModal">Ajouter un intérimaire</a>
            <br/>
            <a id="ajout"  onclick="updateAction(@obj.id)" data-toggle="modal" data-target="#ajoutModal">Ajouter un compte</a>
        </td> 
    </tr>
    }

</table>
<div class="modal fade modalStyle" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="update_urlClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel">Liste des comptes du chargé <span id="name"></span></h3>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">code agence</th>
                            <th scope="col">Numéro de compte</th>
                            <th scope="col">Intitulé</th>
                            <th scope="col">Intérimaire</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="rowHolder">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade modalStyle" id="ajoutModal" tabindex="-1" role="dialog" aria-labelledby="ajoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="update_urlClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="ajoutModalLabel">Ajouter un compte</h3>
            </div>
            <div class="modal-body">
                <form method="POST" action="Ajouter">
                    <label for="codeAgence">Code Agence</label>
                    <input type="text" id="codeAgence" name="codeAgence"><br/>

                    <label for="numCompte">Numéro de Compte</label>
                    <input type="text" id="numCompte" name="numCompte"><br/>

                    <label for="intitule">Intitule</label>
                    <input type="text" id="intitule" name="intitule"><br/>
                    <input class="btn btn-primary" type="submit" value="Ajouter" onclick="f()">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>


<script>

    $('#demoGrid').dataTable({
    });
</script>
<script>
    function getData() { 
        var pathArray = window.location.pathname.split('/');
        var secondLevelLocation = pathArray[3];
        
        $.ajax({
            
            url: "/ChargeAffaire/consulter/" + secondLevelLocation,
            method: 'post',
            dataType: 'json',
            error: (res) => console.log(res),
            success: function (csResponse) {
                let s = "";
                if (csResponse.length !== 0){
                    
                    $("#name").text(csResponse[0].charge.intitule);

                    for (let i=0;i<csResponse.length;i++){
                                s += "<tr>"
                                +"<td>"+csResponse[i].codeAgence+"</td>"
                                +"<td>"+csResponse[i].numeroCompte+"</td>"
                                +"<td>"+csResponse[i].intitule+"</td>"
                                +"<td>"+csResponse[i].interimaire.intitule+"</td>"
                                +"<td>"
                                    +"<a href='#'>Supprimer compte</a>"
                                    +"<br/>"
                                    + "<a href='#'>Changer affectation</a>"
                                +"</td>";
                                +"</tr>"
                    }
                }
                    
                document.getElementById("rowHolder").innerHTML = s;
            }
        
            
        });
    }
    function update_url(url) {
        history.pushState(null, null, url);
        getData();
    }
    function update_urlClose()
    {
        history.pushState(null, null, "/ChargeAffaire/ListCharge");
    }
    $("#exampleModal").click(update_urlClose);
    function updateAction(id) {
        $("form").get(0).setAttribute("action","Ajouter/"+id);
    }

</script>

