@*@model IList<CentreAffaire.Models.ChargeAffaire>*@
@{
    ViewBag.Title = "ListCharge";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

<div>
    <select onchange="handleSelect()">
        <option value="Actif">Actifs</option>
        <option value="Conge">En Congé</option>
    </select>

    <table id="demoGrid" class="table  table table-hover dt-responsive nowrap" width="100%" cellspacing="0"> </table>
    <!--modal consulter -->
    <div data-backdrop="static" data-keyboard="false" class="modal fade modalStyle" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="update_urlClose()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="exampleModalLabel">Liste des comptes du chargé <span class="name"></span></h3>
                    <br/>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr class="styleHeaderTab">
                                <th scope="col">Code agence</th>
                                <th scope="col">Numéro de compte</th>
                                <th scope="col">Intitulé</th>
                                <th scope="col">Intérimaire</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="rowHolder"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="update_urlClose()">Retour</button>

                </div>
            </div>
        </div>
    </div>
        <!--modal Date mission -->
    <form id="formDate" method="POST">
        <div data-backdrop="static" data-keyboard="false" class="modal fade modalStyle" id="dateMission" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  >
            <div class="modal-dialog" role="document" style="width:400px;">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="update_urlClose()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="exampleModalLabel">Choisir la date de début et fin de mission</h3>
                    </div>
                    <div class="modal-body">
                        <div class="styleDate">  
                            <div class="dateFlex">
                                <label fpr="dateDeb" style="width:150px;">Date de début</label>
                                <input id="dateDeb" type="date" name="dateDeb">
                            </div>
                            <div class="dateFlex">
                                <label fpr="dateFin" style="width:150px;">Date de Fin</label>
                                <input id="dateFin" type="date" name="dateFin">
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="update_urlClose()">Annuler</button>
                        <input type="submit" class="btn btn-primary" value="Ajouter">
                    </div>
                </div>
            </div>
        </div>
    </form> 

        <form id="formInterimaire">
        <!--modal liste compte -->
        <div data-backdrop="static" data-keyboard="false" class="modal fade modalStyle" id="listeCompte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="update_urlClose()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="exampleModalLabel">Choisir les comptes</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr class="styleHeaderTab">
                                    <th scope="col">
                                        <input onclick="checkAll()" type="checkbox" class="form-check-input" id="allCheck">
                                        <label class="form-check-label" for="allCheck">Sélectionner tout</label>
                                    </th>
                                    <th scope="col">Code agence</th>
                                    <th scope="col">Numéro de compte</th>
                                    <th scope="col">Intitulé</th>

                                </tr>
                            </thead>
                            <tbody id="rowHolder4"></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="update_urlClose()">Retour</button>
                        <button id ="secondScreen" data-toggle="modal" data-target="#listeInterimaire" type="button" class="btn btn-primary" data-dismiss="modal">Suivant</button>

                    </div>
                </div>
            </div>
        </div>

        <!--modal liste interimaire -->
        <div data-backdrop="static" data-keyboard="false" class="modal fade modalStyle" id="listeInterimaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="update_urlClose()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="listeInterimaireLabel">Choisir un intérimaire</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr class="styleHeaderTab">
                                    <th scope="col"></th>
                                    <th scope="col">Matricule</th>
                                    <th scope="col">Intitulé</th>

                                </tr>
                            </thead>
                            <tbody id="rowHolder3"></tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="update_urlClose()">Annuler</button>

                        <!--<button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-primary" data-dismiss="modal">Affecter</button>
                        --><input id="thirdScreen"  class="btn btn-primary" type="submit" value="Ajouter">
                    </div>
                </div>
            </div>
        </div>
       </form> 

    <!--modal Changement affectation -->
    <form id="formAffectation" method="POST">
        <div data-backdrop="static" data-keyboard="false" class="modal fade modalStyle" id="changementAffectation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="update_urlClose()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="exampleModalLabel">Choisir un chargé</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr class="styleHeaderTab">
                                    <th scope="col"></th>
                                    <th scope="col">Matricule</th>
                                    <th scope="col">Intitulé</th>
                                    <th><input id="hiddenValue" type="hidden" name="idCompte"></th>
                                </tr>
                            </thead>
                            <tbody id="rowHolder2"></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="update_urlClose()">Annuler</button>
                        <input class="btn btn-danger" type="submit" value="Affecter">
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!--modal Ajout compte -->
    <div data-backdrop="static" data-keyboard="false" class="modal fade modalStyle" id="ajoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:500px;margin-top:150px;">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="update_urlClose()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="ajoutModalLabel">Ajouter un compte</h3>
                </div>
                <form id="formAjout" method="POST" action="Ajouter">
                    <div class="modal-body flexbox-modal">
                        <div class="flexbox-modal-child">
                            <span style="height:32px;">Code agence</span>
                            <span style="height:32px;">Numéro de compte</span>
                            <span style="height:32px;">Intitulé</span>
                        </div>
                        <div class="flexbox-modal-child">
                            <span style="height:30px;">
                                <input id="codeAgence" name="codeAgence" type="text" style="width:30px;">
                            </span>
                            <span style="height:30px;">
                                <input id="numCompte" name="numCompte" type="text" style="width:100px;">
                            </span>
                            <span style="height:30px;">
                                <input id="intitule" name="intitule" type="text" style="width:100px;">
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="update_urlClose()">Annuler</button>

                        <input class="btn btn-primary" type="submit" value="Ajouter">
                    </div>
                </form>
            </div>
        </div>
    </div>
        <!-- Modal Supression Compte -->
    <div data-backdrop="static" data-keyboard="false" class="modal fade" id="SuppressionCompte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:350px;height:350px;margin-top:150px;">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div>
                        <h5 class="modal-title" id="exampleModalLabel" style="margin-top:20px;margin-bottom:50px;">Voulez-vous vraiment supprimer ce compte?</h5>
                        <center>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="update_urlClose()">Annuler</button>
                            <button id="SupprimerBtn" type="button" class="btn btn-danger">Supprimer</button>
                        </center>

                    </div>
                </div>



            </div>
        </div>
    </div>

</div>

<script>

    let dTable = $('#demoGrid').DataTable({
        columns: [
            {title:"Matricule",data: "matricule"},
            {title:"Intitulé",data: "intitule"},
            {title:"Nombre des comptes",data: () => "59"},
        ],
        language: {
            search: "Rechercher",
            lengthMenu: "Afficher _MENU_ chargés par page",
            info: "Page: _PAGE_ / _PAGES_",
            paginate: {
                next: "Suivante",
                previous: "Précédente"
            }
        }
    });
    $(document).ready(() => getActif());
    
</script>
<script>

    function updateConge(id) {
        $("#formDate").prop("action",`/ChargeAffaire/UpdateConge/${id}`);
    }

    $("input[type=date]").prop("min",new Date().toISOString().split('T')[0]);

    function handleSelect() {
        if ($("select").val() === "Actif")
            getActif();
        else
            getConge();
    }

    function getActif() {
        $.get('/ChargeAffaire/GetActif',(res) =>{
            dTable.clear();
            dTable.rows.add(res);
            dTable.draw();
        });
        /*$.ajax({
            url: '/ChargeAffaire/GetActif',
            method: 'get',
            dataType: 'json',
            error: (err) => console.log(err),
            success: (res) => {
                let s="";
                for (let i=0;i<res.length;i++) {
                    s +=`<tr>
                            <td>${res[i].matricule}</td>
                            <td>${res[i].intitule}</td>
                            <td> 59</td>
                            <td id="linkContainer">
                                <a class="cls no-href" id="detail" onclick="update_url('consulter/${res[i].id}')" data-toggle="modal" data-target="#exampleModal">consulter</a>
                                <br/>
                                <a class="no-href" id="conge" onclick="updateConge(${res[i].id})" data-toggle="modal" data-target="#dateMission">Ajouter un congé</a>
                                <br/>
                                <a class="no-href" id="ajout"  onclick="updateAction(${res[i].id})" data-toggle="modal" data-target="#ajoutModal">Ajouter un compte</a>
                            </td>
                        </tr>`;
                }
                $("#chargeHolder").html(s);
                $(".no-href").css({"cursor":"pointer","color":"#077bb1"});
                $(".no-href").parent().css("text-align","center");

            }
        });*/
    }

    function getConge() {
        $.get('/ChargeAffaire/GetConge',(res) =>{
            dTable.clear();
            dTable.rows.add(res);
            dTable.draw();
        });

        /*$.ajax({
            url: '/ChargeAffaire/GetConge',
            method: 'get',
            dataType: 'json',
            error: (err) => console.log(err),
            success: (res) => {
                let s="";
                for (let i=0;i<res.length;i++) {
                    s +=`<tr>
                            <td>${res[i].matricule}</td>
                            <td>${res[i].intitule}</td>
                            <td> 59</td>
                            <td id="linkContainer">
                                <a class="cls no-href" id="detail" onclick="update_url('consulter/${res[i].id}')" data-toggle="modal" data-target="#exampleModal">consulter</a>
                                <br/>
                                <a class="no-href" id="conge" onclick="updateConge(${res[i].id})" data-toggle="modal" data-target="#dateMission">Modifier congé</a>
                            </td>
                        </tr>`;
                }
                $("#chargeHolder").html(s);
                $(".no-href").css({"cursor":"pointer","color":"#077bb1"});
                $(".no-href").parent().css("text-align","center");

            }
        });*/
    }

    function getData() { 
        var pathArray = window.location.pathname.split('/');
        var secondLevelLocation = pathArray[3];
        
        $.ajax({
            
            url: "/ChargeAffaire/consulter/" + secondLevelLocation,
            method: 'post',
            dataType: 'json',
            error: (err) => console.log(err),
            success: function (csResponse) {
                $(".name").text(csResponse.item1);
                let s = "";
                if (csResponse.item2.length !== 0){

                    console.log(csResponse);

                    for (let i=0;i<csResponse.item2.length;i++){
                        s +=`<tr>
                                <td>${csResponse.item2[i].codeAgence}</td>
                                <td>${csResponse.item2[i].numeroCompte}</td>
                                <td>${csResponse.item2[i].intitule}</td>
                                <td>${csResponse.item2[i].interimaire.intitule}</td>
                                <td>
                                    <a class="no-href" onclick="updateSuppression(${csResponse.item2[i].charge.id},${csResponse.item2[i].id})" data-toggle="modal" data-target="#SuppressionCompte">Supprimer compte</a>
                                    <br/>
                                    <a class="no-href" onclick="updateAffectation(${csResponse.item2[i].charge.id},${csResponse.item2[i].id})" data-toggle="modal" data-target="#changementAffectation">Affecter compte</a>
                                </td>
                            </tr>`;
                    }
                }
                    
                $("#rowHolder").html(s);
                $(".no-href").css({"cursor":"pointer","color":"#077bb1"});
                $(".no-href").parent().css("text-align","center");

            }
        
            
        });
    }
    function updateSuppression(idCharge,idCompte) {
        $("#SupprimerBtn").click(() => window.location.href = `Supprimer/${idCharge}?idCompte=${idCompte}`);
    }
    function updateAffectation(idCharge,idCompte) {
        $("#formAffectation").prop("action",`Affecter/${idCharge}`);
        $("#hiddenValue").prop("value",idCompte);
        $.ajax({
            url: `/ChargeAffaire/Remplacant/${idCharge}`,
            method: 'post',
            dataType: 'json',
            error: (err) => console.log(err),
            success: (res) => {
                //console.log(res);
                let s = '';
                if (res.length!==0){
                    for (let i=0;i<res.length;i++){
                        s+= `<tr>
                                <td>
                                    <input type="radio" name="idCharge" value=${res[i].id}>
                                </td>
                                <td>
                                    ${res[i].matricule}
                                </td>
                                <td>
                                    ${res[i].intitule}f
                                </td>
                            </tr>`;
                    }
                }
                $("#rowHolder2").html(s);
            }
        });
    }

    function update_url(url) {
        history.pushState(null, null, url);
        getData();
    }
    function update_urlClose()
    {
        history.pushState(null, null, "/ChargeAffaire/ListCharge");
    }

    function updateAction(id) {
        $("#formAjout").prop("action","Ajouter/"+id);
    }

    function updateInterimaire(id){
        $("#formInterimaire").prop("action",`/ChargeAffaire/Interimaire/${id}`);
        checkComptes(id);
    }
    function checkComptes(id) {
        history.pushState(null,null,`/ChargeAffaire/CheckComptes/${id}`);
        $("#allCheck").prop("checked",false);
        
        $.ajax({
            url:`/ChargeAffaire/CheckComptes/${id}`,
            method: 'get',
            dataType: 'json',
            error: (err) => console.log(err),
            success: (res) =>   {
                let s = "";
                for (let i=0;i<res.length;i++){
                    s+= `<tr>
                            <td>
                                <input value="${res[i].id}" name="idsCompte" type="checkbox" class="checkChild form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"></label>
                            </td>
                            <td>
                                ${res[i].codeAgence}
                            </td>
                            <td>
                                ${res[i].numeroCompte}
                            </td>
                            <td>
                                ${res[i].intitule}
                            </td>
                        </tr>`;
                }
                $("#rowHolder4").html(s);
            }
            
        });
        $("#secondScreen").click(() => selectInterim(id));
    }

    function checkAll() {
        let state = $("#allCheck").prop("checked");
        //console.log(state);
        $(".checkChild").prop("checked",state);
    }

    function selectInterim(id) {
        history.pushState(null,null,`/ChargeAffaire/SelectInterim/${id}`);
        $.ajax({
            url:`/ChargeAffaire/SelectInterim/${id}`,
            method: 'get',
            dataType: 'json',
            error: (err) => console.log(err),
            success: (res) =>   {
                let s = "";
                for (let i=0;i<res.length;i++){
                    s+= `<tr>
                            <td>
                                <input type="radio" name="idCharge" value="${res[i].id}">
                            </td>
                            <td>
                                ${res[i].matricule}
                            </td>
                            <td>
                                ${res[i].intitule}
                            </td>
                        </tr>`;
                }
                $("#rowHolder3").html(s);
            }
        });
    }
    $(".no-href").css({"cursor":"pointer","color":"#077bb1"});
    $(".no-href").parent().css("text-align","center");
    

</script>